{% extends "base.html" %} {% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/disk">PPsite</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" method="post" action="/signout/">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Sign out</button>
            </form>
        </div>
        <!--/.navbar-collapse -->
    </div>
</nav>

<div class='row'>
    <div class="col-md-9 column">
        <a class="media" href="/media/{{file_path}}"></a>
    </div>
</div>

<div class="search-result">
    <div class='row'>
        <div class="col-md-3 column">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Question word:</label>
                    <input type="text" id="searchKeyword"placeholder="Question word" class="form-control" name="questionWord">
                </div>
                <button type="button" class="btn btn-default" id="searchButton">Submit</button>
            </form>
        </div>
    </div>

    <div class="row clearfix">
            <div class="col-md-12 column">
                <table class="table">
                    <tbody id = "searchResult">
                    <!-- {% if a.count != 0 %}
                        {% for aa in a %}
                        <tr>
                            <td>
                                <a href="/media/papers/{{aa.path}}">{{ aa.stc }}</a>
                            </td>
                        </tr>
                        {% endfor %}
                    {% endif %} -->
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--     {% for version in a %}

        <p3> {{version}}</p3>
        <br>

    {% endfor %} -->
{% endblock %}
